.App {

  text-align: center;
  border: 1px solid lightgray;
  border-radius:  5px;
  width: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.currencyFromTo {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid lightgray;
  border-radius:  5px; */
}

input[type=button]{
  color: #fff;
  border-radius: 5px;
  width: 100px;
  background-image: linear-gradient(to left, #f6d365, #fda085, #f6d365);
  background-size: 200% auto;
  /* transition: 0.5s; */
  text-transform: uppercase;
} :hover {
  background-position: right center;
  cursor:pointer;
}


.from {
  margin: 20px;
}

.to {
  margin: 20px;
}

